
// button green: #238636, border radius 6px
// link blue: #58a6ff
// tab highlight orange:#f78166

#app{
    display:flex;
  }

:root {
    font-family: -apple-system, 
                 BlinkMacSystemFont, 
                 "Segoe UI", 
                 Roboto, 
                 Helvetica,
                 Arial,
                 sans-serif,
                 "Apple Color Emoji",  /* Emojis*/
                 "Segoe UI Emoji", /* Emojis*/
                 "Segoe UI Symbol"; /* Emojis*/
    background:white;
    color:black;

    i, .directions a{
      color:black;
    }
    .cardRight .svg-inline--fa{
      color:black;
    }
}

:root.dark{
  background:black;
  color:white;

  i, .directions a{
    color:white;
  }
  .cardRight .svg-inline--fa{
    color:white;
  }
}

header{
  width:10vw;
}

main{
  width:90vw;
}

.routedSection{
  max-width:80%;
  margin:0 auto;
  display:flex;
  flex-direction: column;
  align-items: center;
  
  h1{
    text-align:center;
    // 30px-60px
    font-size: clamp(1.875rem, 1.5rem + 1.875vw, 3.75rem);
  }
}

@media (max-width:1023px){
  #app{
    flex-direction:column;
  }

  header{
    width:100%;
    position:fixed;
  }

  main{
    margin-top:clamp(5rem, 4.5rem + 2.5vw, 7.5rem);
    width:100%;
  }

  :root{
    header{
      border:4px solid black;
      background:white;
    }
  }
  :root.dark{
    header{
      border:4px solid white;
      background:black;
    }
  }
}