nav{
    height:100vh;

    ul{
        list-style:none;
        padding:0;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    li{
        height:calc(100vh / 3);
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    i{
        // 20px - 100px
        font-size: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
    }
    [src$='.svg']{
        width: clamp(1.25rem, 0.25rem + 5vw, 6.25rem);
    }
    button{
        border:none;
        background-color: white;
    }
}